%h1 Currency rate converter
.content
  %h2 Select range
  .currency_history_header
    - today = Time.zone.today
    - five_days_ago = 5.days.ago.to_date
    = form_with url: api_graphql_path, id: 'currency_history' do |form|
      = date_field("currency",
                   "published_at_from",
                   max: today,
                   required: "required",
                   value: five_days_ago)
      = date_field("currency",
                   "published_at_to",
                   max: today,
                   required: "required",
                   value: today)
      = hidden_field_tag(:query)
      = hidden_field_tag('variables[publishedAtFrom]', five_days_ago)
      = hidden_field_tag('variables[publishedAtTo]', today)
      = form.submit 'Get currency history'
  .currency_history_body
    #history_body.content
      %p Select date range and click on Get currency history
