%h2 Currency Exchange for #{@currency.published_at}
.currency_exchange_header
  = form_with url: exchange_currency_path(@currency.id),
              remote: :true,
              method: :get do |form|
    = label_tag('Value:')
    = number_field_tag('currency[value]',
                        nil,
                        min: 0,
                        required: true,
                        step: 0.1)
    %br
    %br
    = label_tag('From:')
    = select_tag("currency[base]",
                 options_for_select(available_options(@currency)))
    = label_tag('To:')
    = select_tag("currency[foreign]",
                 options_for_select(available_options(@currency)))
    %br
    %br
    = form.submit 'Calculate Exchange'
.currency_exchange_body
  %ul#exchange_body.content
